.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.image-container img {
  max-width: 150px;
  max-height: 150px;
}

.btn-color-agregar {
  background-color: #3d0001;
  color: white;
}

.btn-color-cambiar {
  background-color: #8d7c88;
  color: white;
}

.btn-no-hover:hover,
.btn-no-hover:focus {
  background-color: #3d0001 !important;
  border-color: #3d0001 !important;
  box-shadow: none !important;
}

.card-margin {
  margin: 15px;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #F7B267;
}

.nav-pills .nav-link.active {
  color: #3D0001;
}

.nav {
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #8D7C88;
}

.nav-link:hover {
  color: #3D0001;
}

.offcanvas {
  --bs-offcanvas-width: 325px;
  --bs-offcanvas-bg: #8D7C88;
  --bs-offcanvas-color: white;
}

.btn-secondary {
  --bs-btn-bg: #F7B267;
}